.modeContainer {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.start {
  padding-inline: 20px;
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  text-transform: uppercase;
}